.spinner-light {
  border: 4px solid rgba(194, 194, 194, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-left-color: rgb(255, 255, 255);

  animation: spin 0.4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
